body{
	/*font-family: "Hind Siliguri";*/
	font-family: "Galada";
	padding-top: 90px;
	padding-bottom: 20px;
}

.content{
	padding: 10px 3px 10px 3px;
	border: 10px solid #17A2B8;
	font-weight: 100;
}

.button-center{
	text-align: center;
}

div h1{
	font-weight: 700;
}
